@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    text-decoration: none;
  }
   
 
  a.links{
    display: none;
  }

body {
font-size: 100%;
background: linear-gradient(68.15deg, #131313 16.62%, #30c96a 85.61%);
}


.meio {
    margin-bottom: 48px;
    border-top: 0.4px solid #fff2e7;
}
.content{
    width: 500px;
    min-height: 560px;    
    margin: 0px auto;
    position: relative;   
  }

  h1{
    color: #067550;
    padding: 2px 0 10px 0;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'righteous', cursive;
    font-weight: 400;
    font-size: 45px;
  }

  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147, 189, 168, 0.8) 20%,rgb(147, 189, 168) 53%,rgba(147, 189, 166, 0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147, 189, 164, 0.8) 20%,rgb(147, 189, 176) 53%,rgba(147, 189, 176, 0.8) 79%,rgba(147,184,189,0) 100%); 
  }

  p{
    margin-bottom:15px;
  }
   
  .content p:first-child{
    margin: 0px;
  }
   
  label{
    color: #406055;
    position: relative;
  }

  /* placeholder */
::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
  }
   
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
  }

  input {
    outline: none;
  }
   
  /*estilo dos input,  menos o checkbox */
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 12px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
   
  /*estilo do botão submit */
  input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: rgb(61, 179, 124);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
   
    transition: all 0.2s linear;
  }
   
  /*estilo do botão submit no hover */
  input[type="submit"]:hover{
    background: #42b47f;
  }

  .link{
    position: absolute;
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
   
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }
   
  .link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: rgb(29, 193, 116);
    margin-left: 10px;
    border: 1px solid #18d576;
   
    -webkit-border-radius: 4px;
    border-radius: 4px;  
   
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
   
  .link a:hover {
    color: #39d795;
    background: #f7f7f7;
    border: 1px solid #4ca079;
  }

  #cadastro, 
#login{
  position: absolute;
  top: 0px;
  width: 88%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: #f7f7f7;
  border: 1px solid rgba(110, 175, 135, 0.8);
  font-family: 'sarala', sans-serif;
        font-weight: 400;
        font-size: 15px;
   

  border-radius: 5px;
   
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
 
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

/* Efeito ao clicar no botão ( Ir para Login ) */
#paracadastro:target ~ .content #cadastro,
#paralogin:target ~ .content #login{
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
 
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
 
/* Efeito ao clicar no botão ( Cadastre-se ) */
#registro:target ~ .content #login,
#paralogin:target ~ .content #cadastro{
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
   
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
   
  /*fadeOutLeft*/
  @-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
  }
   
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }

.rodape {
    padding: 32px;
    border-top: 0.4px solid #fff2e7;
    flex-direction: row;
    justify-content: space;
    align-items: center;
    }
    
    .alinhamento {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .redes{
        display: flex;
        gap: 35px;
    }

    .rodape-img {
    height: 120px;
    }

    .tik-img {
        height: 32px;
    }

    .insta-img {
        height: 32px;
    }

.tt-img {
    height: 32px;
}